@font-face {
    font-family: "yekan";
    src:url("fonts/Yekan.eot?#") format("eot"),    
          url("fonts/Yekan.woff") format("woff"),
          url("fonts/Yekan.ttf") format("truetype"); 
}

@font-face {
    font-family: "iransans";
    src:url("fonts/Sans_medium.eot?#") format("eot"),    
          url("fonts/Sans_medium.woff") format("woff"),
          url("fonts/Sans_medium.ttf") format("truetype"); 
}

@font-face {
    font-family: "opensans";
    src:url("fonts/OpenSans-Bold.eot?#") format("eot"),    
          url("fonts/OpenSans-Bold.woff") format("woff"),
          url("fonts/OpenSans-Bold.ttf") format("truetype"); 
}
.cards{
    width: 80%;
    margin: 0px;
    margin-left: 10%;
    
}
.fidget-desc{
    direction: rtl;
    text-align: right;
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 70px;
}

.fidget-desc p{
    font-size: 15;
}

.fidget-desc a{
    text-decoration: none;
    font-size: 23;
    cursor: pointer;
}

.fidget-desc img{
    width: 100%;
    
}
.wholesaler{
    color: red;
    margin: auto;
    font-size: 14px;
    animation-name: banner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 1;
    animation-direction: alternate-reverse;
}
#map {
        height: 300px;
        width: 80%;
        margin: auto;
          margin-bottom: 40px;
        border:2px solid black;
        padding: 2px;
       }

#spinner-image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.break{
    display: none;
}
#spinner-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@keyframes banner{
    from {opacity: 0.1}
    to{opacity: 1}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#body-index{
    margin: auto;
    height: 100%;
    background-color: #FAFAFA;
    font-family: "iransans";
    width: 100%;
    }

.english{
    font-family: "opensans";
}
#page-screen{
    overflow-y:hidden;
}
textarea:focus, input:focus{
    outline: none;
}
marquee{
    margin:auto;
    border:none;
    padding: auto;
    color: #2D343E;
    height: auto;
    color: #6C7077;
    margin-top: 10px;
}

#login-footer p{
    vertical-align: center;
    margin:auto;
}
#login-footer{
    color: black;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #4FC3F7;
    position:fixed;
    font-size: 17px;
    margin-top: 100px;
    height: auto;
}
#menu{
    background-color: #4FC3F7;
    color: black;
    width: 100%;
    height: 52px;
    
}
.topnav {
    overflow: hidden;
    text-align: center;
    margin-right: 10%;
    font-family: "iransans";
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    
}

/* Change the color of links on hover */
.topnav a:not(:last-child):hover {
    background-color: rgb(171, 250, 250);
    color: #2D343E;
}
.topnav a.icon{
    display: none;
}


.banner{
    text-align: center;
    background-color: rgb(171, 250, 250);
    height: 120px;
    width: 100%;
    color: black;
}
.banner #topic{
    font-size: 30px;
    display: inline-block;
    margin-bottom: 60px;
    vertical-align: middle;
}
.banner #topic img{
    width: 100%;
}
.banner #left-image,#right-image{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    display: inline-block;
}
#body-index #page-body{
    text-align: center;
    margin-top: 1%;

}

#page-body .contact{
    text-align: right;
    margin-right: 10%;
    margin-top: 4%;
}
#page-body .contact a{
    text-decoration: none;
}

#page-body .card{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 1%;
    margin-bottom: 70px;
    padding: 0px;
    height: auto;
    width: 19.2%;
    float: left;
}
#page-body .card.last{
    margin-right: 0;
    margin-left: 0;
}
#page-body .card  a{
    text-decoration: none;
}
#page-body .card img{
    width: 230px;
    height: 230px;
    border-radius: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
}
#page-body .card .spinner-title{
    background-color: #4FC3F7;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}
#page-body .card .spinner-status{

    margin-bottom: 0px;
    padding: 3px;
    
}
#page-body .card .spinner-order{

    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    background-color:  rgb(171, 250, 250);
    padding: 3px;
}
#page-body .card .spinner-order:hover{
    cursor: pointer;
    opacity: 0.5;
}



.spinner-status.available{
        background-color: lawngreen;
}
.spinner-status.not-available{
        background-color: red;
}
#page-body .card .spinner-price{
    line-height: 3px;
    font-family: "yekan";
}
.table-search input{
    font-size: 20px;
    width: 80%;
    text-align: right;
    padding-right: 10px;
    font-family: "yekan";
    margin :auto;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: auto;
    border-radius: 5px;
    vertical-align: middle;
}


@import "compass/css3";



#search-message{
    display: none;
    font-size: 25px;
}



@media all and (max-width: 1024px) {
    
    .cards{
        width: auto;
        margin: 0;
    }
    
    #page-body .card.last{
        margin-left: 2.5%;
    }
    #search-message{
    font-size: 40px;
}

  
   
   
    #page-body .table-search input{
        font-size: 37;
        width: 95%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 29px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
       
    }
    
    
    #page-body .card{
        margin: auto;
          width: 95%;
           table-layout: fixed;
           margin-left: 2.5%;
        margin-right: 2.5%;
           margin-bottom: 70px; 
    }
       #page-body .card .spinner-title{
        font-size: 45;
           padding: 20px
    }
    #page-body .card .spinner-status{
        font-size: 41;
           padding: 20px
    }
    #page-body .card .spinner-order{
        font-size: 41;
           padding: 20px
    }
    #page-body .card .spinner-price{
        font-size: 37px;
        padding: 20px;
    }
    #page-body .card img{
        width: 400px;
        height: 400px;
    }
    
    
    
    
  
    
   
    
    #menu{
        height: 100px;
 
    }
    



     #body-index p{
        margin-top: 70px;
    }
    .banner #left-image img{
        display: none;
    }
    .banner #right-image img{
        display: none;
    }
    #body-index .banner{
        width: 100%;
        height: auto;
        vertical-align: center;
    }
    #body-index .banner #topic{
        font-size: 70px;
        margin-bottom: 20px;
        vertical-align: middle;
    }
    #body-index #menu{
        width: 100%;
    }


  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 50px;
    
  }
    .topnav{
        margin-right: auto;
    }
  .topnav.responsive {position:relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
  }
  
  .topnav.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: right;
    font-size: 50px;
    margin-right: 2px;
  }
    .topnav.responsive a:first-child {
    margin-top: 90px;
  }

   
    #login-footer{
        font-size: 37px;
        height: auto;
    }
     #login-footer p{
        margin: auto;
        padding: auto;
    }
 
   
    .modal-content {
        width: 100%;
    }
    #caption {
    font-size: 45;
}
    marquee{
        font-size: 37;
    }
    #page-body .contact{
    font-size: 35;
        margin-right: 5%;
        margin-bottom: 70px;
}
    .fa.fa-address-card{
        display: none;
    }
    .close {
        font-size: 60;
    }
    
    .break{
        display: block;
    }
    
    #map {
        width: 100%;
        margin: auto;
        margin-bottom: 70px;
       }
    .wholesaler{
    font-size: 20px;
}
    .fidget-desc{

    margin-right: 5%;
    margin-left: 5%;
}
    .fidget-desc p{
    font-size: 22;
}
    .fidget-desc img{
        height: 30%;
        width: 100%;
    
}
    
    
}
